<template>
	<div class="row">
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase"> Detalles Cuenta </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-pencil"></i> Edit </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-trash-o"></i> Delete </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-ban"></i> Ban </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;"> Make admin </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form" v-on:submit.prevent="subirdDatos">
                        <div class="form-body">
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control" v-model="nombres" placeholder="Enter your name">
                                <label for="form_control_1">Nombres</label>
                                <span class="help-block">Some help goes here...</span>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control" v-model="paterno"  placeholder="Enter your email">
                                <label for="form_control_1">Apellido Paterno</label>
                                <span class="help-block">Some help goes here...</span>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control" v-model="materno" placeholder="Enter your email">
                                <label for="form_control_1">Apellido Materno</label>
                                <span class="help-block">Some help goes here...</span>
                            </div>
                            <div class="form-group form-md-line-input has-success">
                                <input type="text" class="form-control" v-model="codigoCIP" placeholder="Success state">
                                <label for="form_control_1">Codigo Cip</label>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <input type="password" class="form-control" v-model="password" placeholder="Info state">
                                <label for="form_control_1">Contraseña</label>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <input type="password" class="form-control" v-model="password" placeholder="Info state">
                                <label for="form_control_1">Confirmar Contraseña</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                 <input type="text" class="form-control" v-model="email" placeholder="Info state">
                                <label for="form_control_1">email</label>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Sede</label>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control input-sm" v-model="dni" placeholder=".input-sm">
                                <label for="form_control_1">DNI</label>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control input-sm" v-model="ruc" placeholder=".input-sm">
                                <label for="form_control_1">RUC</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <textarea class="form-control" rows="3" v-model="direccion" placeholder="Enter more text"></textarea>
                                <label for="form_control_1">Lugar de Nacimiento</label>
                            </div>
                            <div class="form-group form-md-line-input has-error">
                                <input type="text" class="form-control" v-model="ruc" disabled  placeholder="Disable">
                                <label for="form_control_1">Ruc</label>
                            </div>
                            <div class="form-group form-md-line-input has-error">
                                <input type="text" class="form-control"  readonly value="You can't edit this" >
                                <label for="form_control_1">Fecha de Nacimiento</label>
                            </div>
                             <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Departamento</label>
                            </div>
                             <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Provincia</label>
                            </div>
                             <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Distrito</label>
                            </div>
                             <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Pais</label>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control input-lg" id="form_control_1" placeholder=".input-lg">
                                <label for="form_control_1">pasaporte</label>
                            </div>
                             <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Estado Civil</label>
                            </div>
                        </div>
                        <div class="form-actions noborder">
                            <button type="submit" class="btn blue">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>                          
        </div>
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-pin font-green"></i>
                        <span class="caption-subject bold uppercase"> Informacion de Colegiado</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-sm default dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Settings
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-pencil"></i> Edit </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-trash-o"></i> Delete </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-ban"></i> Ban </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;"> Make admin </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                <select class="form-control edited" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1" selected>Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Estado</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                <select class="form-control edited" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1" selected>Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Condicion</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="form_control_1" value="test">
                                <label for="form_control_1">habil asta?</label>
                                <span class="help-block">Some help goes here...</span>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control" id="form_control_1">
                                <label for="form_control_1">Ultimo Pago</label>
                                <span class="help-block">Some help goes here...</span>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-success">
                                <input type="text" class="form-control" id="form_control_1">
                                <label for="form_control_1">Success input</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-warning">
                                <input type="text" class="form-control" id="form_control_1">
                                <label for="form_control_1">Warning input</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-error">
                                <input type="text" class="form-control" id="form_control_1">
                                <label for="form_control_1">Error input</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                <input type="text" class="form-control" id="form_control_1">
                                <label for="form_control_1">Info input</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                <select class="form-control edited" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1" selected>Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </select>
                                <label for="form_control_1">Dropdown sample</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <textarea class="form-control" rows="3"></textarea>
                                <label for="form_control_1">Textarea input</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-error">
                                <input type="text" class="form-control" disabled id="form_control_1">
                                <label for="form_control_1">Disabled</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-error">
                                <input type="text" class="form-control" readonly value="You can't edit this" id="form_control_1">
                                <label for="form_control_1">Readonly</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <div class="form-control form-control-static"> email@example.com </div>
                                <label for="form_control_1">Static Control</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                <input type="text" class="form-control input-sm" id="form_control_1">
                                <label for="form_control_1">Small input</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                <input type="text" class="form-control input-lg" id="form_control_1">
                                <label for="form_control_1">Large input</label>
                            </div>
                        </div>
                        <div class="form-actions noborder">
                            <button type="button" class="btn blue">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>                      
        </div>
    </div>
</template>

<script>
export default {


   data(){
       return{
		//id:"7857",
	 
		name:'perci hola', 
		username:'perci', 
		email:'perci@gmail.es', 
		password:'123456789', 
		usertype:'deprecated', 
		block:'0', 
		sendEmail:'0', 
		registerDate:null, 
		lastvisitDate:null, 
		activation:0, 
		params:'{}', 
		codigoCIP:'perci', 
		paterno:'', 
		materno:'', 
		nombres:'', 
		ruc:'', 
		paisNacimiento:'',
		direccion:'',            
		dni:'', 		
		celular:'',		
		tipoColegiado:'1',			
		usuarioCreador:'admin',  
		
       }
   },
   methods:{
       subirdDatos(){
           const params ={
               id:null, 
               name:this.name, 
               username:this.username, 
               email:this.email, 
               password:this.password, 
               usertype:this.usertype, 
               block:this.block, 
               sendEmail:this.sendEmail, 
               registerDate:this.registerDate, 
               lastvisitDate:this.lastvisitDate, 
               activation:this.activation, 
               params:this.params, 
               codigoCIP:this.codigoCIP, 
               //paterno:this.paterno, 
               //materno:this.materno, 
               //nombres:this.nombres, 
			   //ruc:this.ruc, 
               //estadoUsuario:null, 
               //lugarNacimiento:'', 
               fechaNacimiento:null, 
               //ubigeoNacimiento:'', 
               //paisNacimiento:this.paisNacimiento, 
               //ubigeoDomicilio:'', 
               //direccion:this.direccion, 
               //zona:'', 
               //codigoPostal:'', 
               //estadoCivil:null,
               //dni:this.dni, 
                //telefono:'', 
                //celular:this.celular, 
                //celular1:'', 
                //fax:'', 
                //emailcip:'', 
                //genero:'', 
                //pasaporte:'', 
                //url:'',
                //tipoColegiado:this.tipoColegiado, 
                //ultimoPago: '000000', 
                //habilHasta: '000000', 
                usuarioCreador:this.usuarioCreador, 
                //usuarioModificador:'', 
                fechaModificacion:null, 
                //nombreFoto:null, 
                //oferta:'', 
                //ubigeoSede:'', 
                //nombreFirma:'', 
                //tipoTarjeta:'0'
            };
            axios.post('/user', params).then((response)=>{
                if(response.data.success){
                    this.newMensaje="";
                }else {

                }
            
            })
       },
       destroyDatos(){
           axios.delete(`api/cip/${this.id}`).then(()=>{
               console.log("se elimino", this.id)
           })
       }
   }
}
</script>
